<div class="content">
    <div class="info-wrapper"></div>
    <div class="convert-wrapper">
        <div class="filecontainer">
            <div class="file">
                <img class="file-icon" src="assets/icons/file.svg">
                <div class="file-name">File 1</div>
            </div>
            <div class="file">
                <img class="file-icon" src="assets/icons/file.svg">
                <div class="file-name">File 1</div>
            </div>
            <div class="file">
                <img class="file-icon" src="assets/icons/file.svg">
                <div class="file-name">File 1</div>
            </div>
            <div class="file">
                <img class="file-icon" src="assets/icons/file.svg">
                <div class="file-name">File 1</div>
            </div>
            <div class="file">
                <img class="file-icon" src="assets/icons/file.svg">
                <div class="file-name">File 1</div>
            </div>
            <div class="file">
                <img class="file-icon" src="assets/icons/file.svg">
                <div class="file-name">File 1</div>
            </div>
            <div class="file">
                <img class="file-icon" src="assets/icons/file.svg">
                <div class="file-name">File 1</div>
            </div>
            <div class="file">
                <img class="file-icon" src="assets/icons/file.svg">
                <div class="file-name">File 1</div>
            </div>
            <div class="file">
                <img class="file-icon" src="assets/icons/file.svg">
                <div class="file-name">File 1</div>
            </div>
            <div class="file">
                <img class="file-icon" src="assets/icons/file.svg">
                <div class="file-name">File 1</div>
            </div>
            <div class="file">
                <img class="file-icon" src="assets/icons/file.svg">
                <div class="file-name">File 1</div>
            </div>
            <div class="file">
                <img class="file-icon" src="assets/icons/file.svg">
                <div class="file-name">File 1</div>
            </div>
        </div>
        <img class="arrow" src="assets/icons/arrow.svg">
        <div class="filecontainer">

        </div>
    </div>
</div>